@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background:#02DD7C;
    display: grid;
    grid-template-columns:1fr;
    place-items: center;
    height: 100vh;
  }
/*card heading*/
.card-heading{
    display: grid;
    grid-template-columns:1fr;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5em;
    color: #fff;
}

  /*card css */
  .user-list{
    background:#FF4B03;
    border-radius:20px;
    padding: 24px;
    color:#fff ;
    font-family: 'Roboto', sans-serif;
    margin: 2px 5px 2px 0px;
    transition: all 1.2s;
    
   }

/*content inside card properties*/
.card-content{
    display: grid;
    grid-template-columns: 120px 1fr;
    gap:5px;
    line-height:1.5em;
    font-size: 1em;
    font-weight: 700;
    align-items: center;
    
}

/*user container*/

@media (min-width:375px){
    .user-list:hover{
        background: #FD076A;  
        color: white;
    }
  }
